mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.side__left {
  display: flex;
  gap: 2rem;
  align-items: center;

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;

    a {
      font-size: 1rem;
    }
  }
}
