<mat-toolbar>
  <div class="side__left">
    <span><i>Pilf 🍄</i></span>

    <nav>
      <ul>
        <li><a mat-button color="accent" [routerLink]="['/']">Home</a></li>
      </ul>
    </nav>
  </div>

  <div class="side__right">
    <a
      mat-icon-button
      class="example-icon block-icon"
      aria-label="Example icon-button with heart icon"
      [routerLink]="['/crash-that/1']"
    >
      <mat-icon>block</mat-icon>
    </a>
  </div>
</mat-toolbar>
