mat-list {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
}

mat-list-item {
    display: flex !important;
    justify-content: center;
    align-items: center;
    height: auto !important;
}