<p>tasks works!</p>

<mat-list>
  <mat-list-item *ngFor="let task of (tasks$ | async)?.received_tasks">
    <pilf-task
      [author]="task.information.author_id"
      [title]="task.information.title"
      [status]="task.recipient_user.status"
      [updatedAt]="task.information.updated_at"
      [body]="task.information.title"
    >
    </pilf-task>
  </mat-list-item>
</mat-list>

<pre style="max-width: 500px;">{{ tasks$ | async | json }}</pre>
