/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
pre {
    display: block;
    max-width: 500px;
    white-space: pre-wrap;
    word-wrap: break-word;
}
