<pilf-navbar></pilf-navbar>

<div style="text-align: center">
  <h1>Welcome to pilf-app!</h1>
  <img
    width="450"
    src="https://gitlab.com/uploads/-/system/project/avatar/34704838/pilf.png?width=64"
    alt="Nx - Smart, Fast and Extensible Build System"
  />
</div>

<pilf-tasks></pilf-tasks>

<div>Message: {{ hello$ | async | json }}</div>
